.w-5 {
    width: 5% !important
}

.w-10 {
    width: 10% !important
}

.w-12 {
    width: 12% !important
}

.w-15 {
    width: 15% !important
}

.w-30 {
    width: 30% !important;
}

.pull-left {
    float: left;
}

.w-150 {
    width: 150% !important;
}

.form-control:focus {
    border-color: initial;
    outline: 0;
    box-shadow: none;
}

#report_event {
    padding: 2px;
}

#report_event:read-only {
    border: none;
}

#report_event {
    width: 100%;
    padding: 3px;
    /* margin-top: 7px; */
    border: 2px solid #dddfeb !important;
}

.input-text {
    position: relative;
}
.input-text i {
    position: absolute;
    right: 5%;
    top: 30%;
    color: #c5c1c1;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

.flags-report{
    background:#ddd;
    padding:2px 5px 5px 5px;
    margin-left:3px;
    border-radius:5px;
}

.multile-select {
    border-radius: .35rem .35rem 0 0;
}

.multile-checked-area {
    max-height: 250px;
    overflow-y: scroll;
}

.areaChecked {
    border-top: 0 !important;
}

.hidden-el {
    display: none;
}

.New-Icon {
    background: #1cc88a;
    padding: 0 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    position: relative;
    z-index: 2;
    margin-right: 5px;
    top: -2px;
    bottom: -10px;
}

.new-tag{
    text-align: left!important;
}

.delete td {
    background-color: #ccc;
}

.disabled-check{
    pointer-events: none;
}
.bi:hover {   
    opacity: .5;
    color: red;
    font-weight: bold;
    font-size: 18px;
   cursor: pointer;
}
td.inline_flex{
    display: flex;
}
.delete-Icon {
    background: #e74a3b;
    padding: 0 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    position: relative;
    z-index: 2;
    margin-right: 5px;
    top: -2px;
    bottom: -10px;
}
.numbersort{

    padding: 0 5px;
    
   
    position: relative;
    z-index: 2;
    margin-right: 5px;
    top: 2px;
    bottom: -10px;
}
.span-color{
    width: 40px;
    height: 10px;
}

.hidden {
    display: none;
}
.w-td100{
    width: 100px !important;
}